
<!DOCTYPE html>
<html>
<head>
    <title>FaceCC</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <h1>FaceCC - Usuario</h1>

    <div class="main-container">
        <div class="side-container">
            <img src="{{ url_for('static', filename='media/logo.png') }}" class="logo" alt="Logo FaceCC">
            <button class="main-button" id="takePhotoBtn">Tomar Foto</button>
            <div id="result" class="result-box">Esperando...</div>
        </div>
        <div style="position: relative; display: inline-block;">
            <video id="camera" autoplay playsinline width="640" height="480"></video>
            <canvas id="overlay" width="640" height="480" style="position: absolute; top: 0; left: 0;"></canvas>
            <img src="{{ url_for('static', filename='media/frame.png') }}" class="camera-frame" alt="Camera Icon">
        </div>
    </div>
</body>
<script defer src="https://cdn.jsdelivr.net/npm/face-api.js@0.22.2/dist/face-api.min.js"></script>
<script src="{{ url_for('static', filename='js/camera.js') }}"></script>

</html>

